*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.content {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#app {
  flex-grow: 1;
  display: flex;
}

home-container {
  flex-grow: 1;
  display: flex;
}

create-melody-component,
chord-list-component,
login-form-component,
registration-form-component,
favorites-list-component,
user-profile,
import-component {
  padding: 0 10%;
  width: 100%;
}

@media (max-width: 768px) {
  create-melody-component,
  chord-list-component,
  login-form-component,
  registration-form-component,
  favorites-list-component,
  user-profile,
  import-component {
    padding: 0 5%;
  }
}
